<div class="container p-5">
   <h1 class="text-center mb-5 border-bottom pb-3">Ethereum App</h1>
   <span>{{ title }} app is running!</span>
   <div class="row">
      <div class="col-md-6">
         <h2>Last Block Number</h2>
         <div class="card">
            <div class="card-body">
               <button class="btn btn-primary btn-lg btn-block" (click)="getLastBlockNumber()">Get Last Block
                  Number</button>
               <div class="my-4 text-center">
                  <h4 class="mb-3">Last Block Number:</h4>
                  <h2 *ngIf="lastBlockNumber" class="font-weight-bold">{{ lastBlockNumber }}</h2>
               </div>
            </div>
         </div>
      </div>

      <div class="col-md-6">
         <h2>Transaction Count</h2>
         <div class="card">
            <div class="card-body">
               <button class="btn btn-primary btn-lg btn-block mb-4" (click)="getTransactionCount()">Get Transaction
                  Count</button>
               <div class="form-group">
                  <label class="mx-auto" for="addressInput"><b>Address:</b></label>
                  <input type="text" class="form-control" id="addressInput" [(ngModel)]="address">
               </div>
               <div *ngIf="transactionCount !== null" class="mt-4 text-center">
                  <h4 class="mb-3">Transaction Count:</h4>
                  <h2 class="font-weight-bold">{{ transactionCount }}</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>