body {
   background: linear-gradient(#cedcf5,#6e93d3 );
   background-repeat: no-repeat;
   min-height: 100vh;
}

.border-bottom {
   --bs-border-color: #a9b9d4 !important;
   --bs-border-width: 2px !important;
   border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}